body{
    font-family: "Futura PT","Yu Gothic";
    margin:0;
}

html{
    scroll-behavior: smooth;
    font-size:62.5%;
}

/* ---------MENUのCSS--------- */
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    background: #DA7992 0% 0% no-repeat padding-box;
    border-bottom: 10px solid #F5E428;
  }

  .header_inner {
    position: relative;
    padding: 15px;
  }

  .logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }

  .header_inner{
    max-width: 990px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav_list{
    text-align: right;
  }

  .nav_list li{
    display: inline-block;
    text-align: right;
    padding-left: 20px;
    padding-top:5px;
  }

  .nav_list li a{
    color: #fff;
    font-size:2rem;
    text-decoration: none;
  }

  .nav_list li a:hover{
    color: #fff;
    font-size:2rem;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  }

  @media only screen and (max-width: 768px) {
    .nav {
        position: fixed;
        right: -320px; /* 右から出てくる */
        top: 0;
        width: 300px; /* スマホに収まるサイズ */
        height: 100vh;
        padding-top: 60px;
        background-color: #DA7992;
        transition: all .6s;
        z-index: 200;
        overflow-y: auto; /* メニューが多くなったらスクロールできるように */
      }

      .hamburger {
        position: absolute;
        right: 15px;
        top: 8px;
        width: 50px; /* クリックしやすい幅 */
        height: 50px; /* クリックしやすい高さ */
        cursor: pointer;
        z-index: 300;
      }
      .nav_list {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .nav_list li {
        display: block;
        text-align: center;
        padding:10px 0; /* トップとボトムにパディングを追加して、項目間にスペースを作る */
      }
      
      .nav_item {
        text-align: center;
        padding: 0 14px;
      }
      .nav_item a {
        display: block;
        padding: 10px 0px;
        text-decoration: none;
        color: #fff;
      }
      .nav_item a:hover {
        background-color: #333;
      }
      .hamburger_border {
        position: absolute;
        left: 11px;
        width: 35px;
        height: 2px;
        background-color: #fff;
        transition: all .6s;
      }
      
      .hamburger_border_top {
        top: 15px;
      }
      .hamburger_border_center {
        top: 25px;
      }
      .hamburger_border_bottom {
        top: 35px;
      }
      .black_bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #333;
        opacity: 0;
        visibility: hidden;
        transition: all .6s;
        cursor: pointer;
      }
    
      /* 表示された時用のCSS */
      .nav-open .nav {
        right: 0;
      }
      .nav-open .black_bg {
        opacity: .8;
        visibility: visible;
      }
      .nav-open .hamburger_border_top {
        transform: rotate(45deg);
        top: 20px;
      }
      .nav-open .hamburger_border_center {
        width: 0;
        left: 50%;
      }
      .nav-open .hamburger_border_bottom {
        transform: rotate(-45deg);
        top: 20px;
      }

      .logo{
        padding-left:30px;
      }
    }

/* ---------aboutme(aboutme.html)のCSS--------- */
.title{
    color: #707070;
    font: normal normal normal 60px/77px Futura PT;
    letter-spacing: 0px;
}

#aboutme{
    text-align: center;
    margin-top: 10em;
}

#myName{
    width:40%;
    margin-bottom: 5%;
}

#mePic{
    width:20%;
}

#container2{
    text-align: center;
}

#intro{
    font-family: Yu Gothic;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-align: justify;
    display: inline-block;
}


#bio table{
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    font-family: Yu Gothic;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-align: left;
    padding-left: 1rem;
}


/* ---------skillsのCSS--------- */
#skills{
    margin-top:10em;
    text-align: center;
}

#skillscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    font-family: Yu Gothic;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    width:80%;
    margin-left: auto;
    margin-right:auto;
}

.child{
    width:45%;
    margin-top:1em;
    text-align: justify;
}

.toolcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.toolItem {
    text-align: left;
    width: 50%; 
    margin: 5px 0;
}


#skillscontainer table{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#skillscontainer td{
    padding-left: 1em;
}

#skillscontainer th{
    padding-top: 0.5em;
}

@media (max-width: 767px) {
    .child {
        width: 100%; 
    }
}



/* ---------footerのCSS--------- */
footer{
    margin-top: 10em;
    width:100%;
    height:145px;
    background: #DA7992 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 35px;
    box-sizing: border-box;
    border-top: 10px solid #F5E428;
    text-align: center;
    color:#ffffff;
    margin-bottom: 0;
}

@media (min-width: 365px) and (max-width: 767px) {
    html{
        overflow:auto;
    }

    body{
        overflow: hidden;
        min-width: fit-content;
    }

    #header{
        width:100%;
    }

    #home img{
        width:100%;
    }

    #aboutmeContainer{
        display: block;
        font-size: 20px;
    }

    #container1{
        width: 100%;
        margin: 0 auto;
    }

    #container2{
        width: 100%;
        margin: 0 auto;
    }


}